<div class="question-form nw-form">
  <%= render :partial => "layouts/form_header", :locals => { :title => 'Edit Question' } %>
  <%= render :partial => "form", :locals => { :question => @question } %>
</div>