<div class="meeting-form nw-form">
  <%= render :partial => "layouts/form_header", :locals => { :title => 'Edit Meeting' } %>
  <%= render :partial => "form", :locals => { :meeting => @meeting } %>
</div>