<div class="repeating-meeting-form nw-form">
  <%= render :partial => "layouts/form_header", :locals => { :title => 'New Repeating Meeting' } %>
  <%= render :partial => "form", :locals => { :repeating_meeting => @repeating_meeting } %>
</div>