<div class="manage">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>

    <div class="mdl-cell mdl-cell--8-col">
      <h3 class="manage-header">Manage this app</h3>
    </div>

    <div class="mdl-cell mdl-cell--2-col">
    </div>
  </div>

  <div class="scroll-table">
    <table class="mdl-data-table mdl-js-data-table manage-table">
      <!---->
      <tbody>
        <tr class="manage-row">
          <th class="mdl-data-table__cell--non-numeric main">
            <h3>Images</h3>
          </th>
          <td class="mdl-data-table__cell--non-numeric description">
            <ul>
              <% @all_image_types.each do |type| %>
                  <li class="mdl-list__item image-type">
                      <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon"><%=@sym[type]%></i>
                        <%= link_to @image_types[type], manage_images_path(type == :all ? -1 : type) %>
                      </span>
              <%end%>
            </ul>
          </td>
        </tr>
        <tr class="manage-row">
          <td class="mdl-data-table__cell--non-numeric main">
            <%= link_to 'Images', manage_images_path('all') %>
          </td>
          <td class="mdl-data-table__cell--non-numeric description">
            <div>Manage all images</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>