<div class="resource-form nw-form">
  <%= render :partial => "layouts/form_header", :locals => { :title => 'New Resource' } %>
  <%= render :partial => "form", :locals => { :resource => @resource } %>
</div>