<div class="photographer-form nw-form">
  <%= render :partial => "layouts/form_header", :locals => { :title => 'Edit Photographer' } %>
  <%= render :partial => "form", :locals => { :photographer => @photographer } %>
</div>