@import "mixin";
@import "variables";
.manage-categories {

}
.category-form {
  .position, label {
    text-align: left;
  }
  .button input {
    float: right;
  }
  select {
    margin: 0 16px;
  }
}