@import "variables";

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding: 0;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  a {
    color: $font-color-body;
    &:hover {
      color: lighten($font-color-body, 30%);
      text-decoration: none;
    }
  }
  .row.content {
    margin-top: 110px;
    margin-bottom: 50px;
  }
  .hide {
    display: none;
  }
  .right {
    float: right;
  }
  .text-center {
    text-align: center;
  }

  .form-header {
    text-align: center;
  }
  .content-body {
    background: white;
  }

  .check-box {
    margin-top: 5px;
  }

  .alert {
    z-index: 1000;
  }

  .form-group {
    .info {
      font-size: 0.8em;
    }
  }
}