@import "variables";
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding: 0;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  a {
    color: $font-color-body;
    &:hover {
      color: lighten($font-color-body, 30%);
      text-decoration: none;
    }
  }
  .row.content {
    margin-top: 110px;
    margin-bottom: 50px;
  }
  .hide {
    display: none;
  }
  .right {
    float: right;
  }
  .text-center {
    text-align: center;
  }

  .manage-title-row {
    text-align: center;
    background: $kendo-blue;
    color: white;

    .add-button {
      margin-top: 40px;
      background: lightgray;
      color: $kendo-blue;
    }
  }

  .form-header {
    text-align: center;
  }
  .content-body {
    background: white;
  }
}