@import "mixin";
@import "variables";

.manage-images {
  .preview {
    padding: 0;
    img {
      width: 100%;
    }
  }
}

.image-form {
  .for_page i {
    font-size: 40px;
    width: 40px;
    color: gray;
    margin: 0 auto;
  }
  .preview {
    width: 200px;
  }
  select {
    margin-left: 15px;
  }
  .input-group-btn {
    float: right;
  }
  .button input {
    float: right;
  }
}

.image-row {
  .front-image {
    width: 100%;
    height: 100%;
  }
}