@import "mixin";
@import "variables";

img {
  width: 100%;
}
.mdl-data-table {
  table-layout:fixed;
  width:100%;
}

table.image-table {
  width: 100%;
  .icon {
    width: 5%;
    i {
      color: $font-color-body;
    }
  }
  .preview {
    width: 10%;
    .preview-img {
      width: 100%;
    }
  }
  .title, .url {
    @include truncation(10%);
  }
  .photographer {
    @include truncation(5%);
  }
  .description {
    @include truncation(30%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .actions {
    width: 7%;
  }
  .photographer-list {
    width: 90px;
  }
}

.image-form {
  .manage-photographer {
    margin-left: 50px;
  }
  .for_page i {
    font-size: 40px;
    width: 40px;
    color: gray;
  }
}

.front-image {
  height: 50%;
}