.info-pages {
  &.map, &.schedule {
    .info-row {
      margin: 30px 0;
      div {
        text-align: center;
        &.address-location {
          font-weight: 600;
        }
      }
    }
  }
}