@import "variables";
.info-pages {
  &.map, &.schedule {
    .info-row {
      margin: 30px 0;
      div {
        text-align: center;
        &.address-location {
          font-weight: 600;
        }
      }
    }
  }
  &.card-view {
    .card {
      cursor: pointer;
      margin-bottom: 15px;
      padding: 15px;
      .card-title {
        font-size: 14px;
        text-align: center;
        margin-top: 0;
      }
    }
  }
}