@import "variables";
.info-pages {
  &.map, &.schedule {
    .info-row {
      margin: 30px 0;
      div {
        text-align: center;
        &.address-location {
          font-weight: 600;
        }
      }
    }
  }
  &.card-view {
    .card {
      cursor: pointer;
      padding: 15px;
      margin: 15px;
    }
    .hide-when-closed {
      display: none;
    }
    .show-when-closed {
      display: inline-block;
    }
    .more {
      text-align: center;
    }
    .open-card {
      img {
        display: none;
      }
      .card-body {
        padding: 0;
        p, h4 {
          padding: 5px 15px;
        }
      }
      .card-title {
        margin-top: 0;
        color: white;
        background: $kendo-blue-light;
      }
      .hide-when-closed {
        display: inline-block;
      }
      .show-when-closed, .more {
        display: none;
      }
    }
  }
}