.manage {
  .manage-header, .manage-subheader {
    text-align: center;
  }
  .manage-header {
    margin-bottom: 0;
  }
  .manage-subheader {
    margin-top: 0;
  }
  .scroll-table {
     max-height: 300px;
    overflow: scroll;
  }
  .add-button {
    display: inline-block;
    margin-top: 30px;
  }
}