@import "variables";
.manage {
  .highlight-card-text {
    background: $kendo-blue;
    color: white;
    text-align: center;
    padding: 3px;
  }
  .card {
    margin: 15px;
    width: 400px;
  }
  .card-img-top {
    height: 200px;
  }
  .list-group {
    margin-left: 20px;
  }
}