@import "mixin";
@import "variables";
.manage-resources {
  .resource-item-row {
    border-top: 1px $kendo-blue solid;
    &:last-of-type {
      border-bottom: 1px $kendo-blue solid;
    }
    .resource-content {
      line-height: 40px;
      &:first-of-type {
        margin-top: 5px;
      }
    }
  }
  .icon {
    margin-top: 7px;
  }
  .label, .item {
    float: left;
  }
  .label {
    font-weight: 600;
    width: 100px;
  }
  .item {
    width: 80%;

  }
  .actions {
    text-align: right;
    padding: 0;
  }
  .test-view {
    padding: 10px;
    a {
      color: darkblue;
      text-decoration: underline;
      margin-left: 10px;
    }
  }
}
.resource-form {
  .position, label {
    text-align: left;
  }
  .button input {
    float: right;
  }
  select {
    margin: 0 16px;
  }
}

.info-pages.faq {
  .resources-view {
    margin-bottom: 30px;
    .resource-link, .resource-description {
      float: left;
      text-align: left;
      font-size: 14px;
    }
    .resource-link {
      width: 30%;
      font-weight: 600;
    }
    .resource-description {
      font-weight: 400;
      &:visited {
        color: $font-color-body;
      }
    }
  }
}