@import "mixin";
@import "variables";
.manage-resources {
  .test-view {
    padding: 10px;
    a {
      color: darkblue;
      text-decoration: underline;
      margin-left: 10px;
    }
  }
}
.resource-form {
  .position, label {
    text-align: left;
  }
  .button input {
    float: right;
  }
  select {
    margin: 0 16px;
  }
}

.info-pages.faq {
  .resources-view {
    margin-bottom: 30px;
    .resource-link, .resource-description {
      float: left;
      text-align: left;
      font-size: 14px;
    }
    .resource-link {
      width: 30%;
      font-weight: 600;
    }
    .resource-description {
      font-weight: 400;
      &:visited {
        color: $font-color-body;
      }
    }
  }
}