.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.dojo-icon {
  width: 84px;
  background: url(svg/dojo.svg) no-repeat;
}
.location-icon {
  width: 41px;
  background: url(svg/location.svg) no-repeat;
}
.menu-icon {
  background: url(svg/menu.svg) no-repeat;
}