<div class="category-form nw-form">
  <%= render :partial => "layouts/form_header", :locals => { :title => 'New Category' } %>
  <%= render :partial => "form", :locals => { :category => @category } %>
</div>